html,body{
    width:100%;
    height:100%;
    background: linear-gradient(
        180deg,
        black,
        grey,
        black
    );
    color:white;
}
*,::after,*::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
*::-webkit-scrollbar{
    width: 0;
}
.hidden{
    display:none !important;
}
.selector-btn{
    color:white;
    width:25%;
    height:80%;
    background-color: rgb(19, 18, 18);
    margin:auto;
    font-size: 1.5rem;
    text-align: center;
}
#selector-btns-container{
    border:1px solid black;
    height:20%;
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        90deg,
        black,
        grey,
        grey,
        black);
        margin:auto;
}
#title{
    width:100%;
    height:auto;
    text-align: center;
    font-size: 2.5rem;
}
#idea,#steps,#results,#video{
    display: flex;
    width:80%;
    height:50%;
    background: linear-gradient(
        180deg,
        black,
        grey,
        black
    );
    overflow:auto;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border:1px solid white;
    gap:1.5em;
    padding:0.2rem;
    font-size:2rem;
    scroll-behavior: smooth;
    margin:auto;
    margin-top:5rem;
    position: relative;
    padding-top:4rem;
}
#idea::-webkit-scrollbar{
    width:0;
}
.remove-btn{
    width:20%;
    height:20%;
    background-color: red;
    color:white;
    font-size:3rem;
    text-align: center;
    display: inline;
    position: absolute;
    top:0.5rem;
    right:0.5rem;
}
@media(max-width:360px){
    html{
        font-size:14px;
    }
}
@media(max-width:480px){
    html{
        font-size:14.5px;
    }
}
@media(max-width:600px){
    html{
        font-size:15px;
    }
}
@media(max-width:768px){
    html{
        font-size:15.5px;
    }
}
@media(max-width:922px){
    html{
        font-size:16px;
    }
}
@media(max-width:1200px){
    html{
        font-size:16.5px;
    }
}
@media(max-width:1201px){
    html{
        font-size:17px;
    }
}
